{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Types de batterie{% endblock %}

{% block body %}
    <h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">Types de batterie</h1>
{% endblock %}